@use '../../variables/colors';
@use '../../variables/fonts';
@use '../../variables/mixins';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.form-input-container {
    position: relative;
    margin-bottom: 45px;
    width: 75%;
}

.form-input-container--password {
    position: relative;
    width: 75%;
}

.form-input {
    font-size: 21px;
    padding: 15px 25px;
    background-color: #E4E4E4;
    border: none;
    padding-left: 70px;
    width: 100%;
    font-family: 'Luciole';
    font-size: 1.6rem;

    &::placeholder {
        opacity: 0.6;
        font-style: italic;
        font-size: 1.6rem;
        color: #000;
        font-family: 'Luciole';
    }

    &-regular {
        padding-left: 25px;
    }
}

.form-input-label {
    position: absolute;
    bottom: calc(100% + 10px);
    font-size: 16px;
    color: colors.$grey;
}

.form-input-icon {
    width: 25px;
    height: 30px;
    color: colors.$black;
    position: absolute;
    top: 12px;
    left: 15px;
}

.form-input-icon--right {
    left: auto;
    right: 15px;
    cursor: pointer;
}

.form-input-container::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 55px;
    width: 1px;
    height: 30px;
    background-color: colors.$primary;
}

.form-input-container-regular::after {
    content: none;
}


.form-input-remember {
    margin-top: 20px;
    margin-right: 5px;
}

.form-input-checkbox {
    -webkit-appearance: none;
    appearance: none;
    color: currentColor;
    width: 16px;
    height: 16px;
    border: 3px solid colors.$secondary;
    border-radius: 0.15em;
    margin-right: 4px;
    transform: translateY(2px);
    &:before {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        transform: scale(0);
        background-color: colors.$secondary;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em colors.$secondary;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
}

.form-input-checkbox:checked {
    &:before{
        transform: scale(1); 
    }
}

.form-label-checkbox {
    padding-bottom: 5px;
}

.form-register-btn {
    border: transparent;
    background-color: transparent;
    margin-top: 15px;
}


.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 30%;
}

.form-missing {
    padding-top: 15px;
}
.login-invisible-button{
    border: transparent;
    background-color: transparent;
}