@use '../../variables/colors';
@use '../../variables/fonts';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 70%;
}

.form-input-container {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
}

.form-input-container--password {
    position: relative;
    width: 100%;
}

.form-input {
    font-size: 21px;
    padding: 15px 25px;
    background-color: #E4E4E4;
    border: none;
    padding-left: 70px;
    width: 100%;
    font-family: 'Luciole';
    font-size: 1.6rem;

    &::placeholder {
        opacity: 0.6;
        font-style: italic;
        font-size: 1.6rem;
        color: #000;
        font-family: 'Luciole';
    }
}

.form-input-label {
    position: absolute;
    bottom: calc(100% + 10px);
    font-size: 16px;
    color: colors.$grey;
}

.form-input-icon {
    width: 25px;
    height: 30px;
    color: colors.$black;
    position: absolute;
    top: 12px;
    left: 15px;
}

.form-input-icon--right {
    left: auto;
    right: 15px;
    cursor: pointer;
}

.form-input-container::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 55px;
    width: 1px;
    height: 30px;
    background-color: colors.$primary;
}

.form-input-remember {
    margin-top: 20px;
    margin-right: 5px;
}

.form-input-checkbox {
    margin: 0;
    margin-right: 5px;
}

.form-label-checkbox {
    padding-bottom: 5px;
}

.form-register-btn {
    border: transparent;
    background-color: transparent;
    margin-top: 15px;
}

.form-missing {
    padding-top: 15px;
}
.login-invisible-button{
    border: transparent;
    background-color: transparent;
}