@use '../../variables/colors';
@use '../../variables/fonts';
@use '../../variables/mixins';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.form-input-container {
    position: relative;
    margin-bottom: 45px;
    width: 75%;
}

.form-input-container--password {
    position: relative;
    width: 75%;
}

.form-input {
    font-size: 21px;
    padding: 15px 25px;
    background-color: #E4E4E4;
    border: none;
    padding-left: 70px;
    width: 100%;
    font-family: 'Luciole';
    font-size: 1.6rem;

    &::placeholder {
        opacity: 0.6;
        font-style: italic;
        font-size: 1.6rem;
        color: #000;
        font-family: 'Luciole';
    }

    &-regular {
        padding-left: 25px;
    }
}

.form-input-label {
    position: absolute;
    bottom: calc(100% + 10px);
    font-size: 16px;
    color: colors.$grey;
}

.form-input-icon {
    width: 25px;
    height: 30px;
    color: colors.$black;
    position: absolute;
    top: 12px;
    left: 15px;
}

.form-input-icon--right {
    left: auto;
    right: 15px;
    cursor: pointer;
}

.form-input-container::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 55px;
    width: 1px;
    height: 30px;
    background-color: colors.$primary;
}

.form-input-container-regular::after {
    content: none;
}


.form-input-remember {
    margin-top: 20px;
    margin-right: 5px;
}

.form-input-checkbox {
    -webkit-appearance: none;
    appearance: none;
    color: currentColor;
    width: 16px;
    height: 16px;
    border: 3px solid colors.$secondary;
    border-radius: 0.15em;
    margin-right: 4px;
    transform: translateY(2px);
    &:before {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        transform: scale(0);
        background-color: colors.$secondary;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em colors.$secondary;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
}

.form-input-checkbox:checked {
    &:before{
        transform: scale(1); 
    }
}

.form-label-checkbox {
    padding-bottom: 5px;
}

.form-register-btn {
    border: transparent;
    background-color: transparent;
    margin-top: 15px;
}


.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.form-missing {
    padding-top: 15px;
}
.login-invisible-button{
    border: transparent;
    background-color: transparent;
}
.search {
    display: inline-flex;
    padding: 8px 30px 8px 20px;
    gap: 12px;

}

@media (max-width: 600px) {
    .search {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}
.searchField {
    width: 40%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    background: #E4E4E4;
}

@media (max-width: 600px) {
    .searchField {
        width: 80%;
    }
}
.searchButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    .searchButton {
        position: relative;
        margin-top: 10px;
    }
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    position: relative;
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    width: 300px;
    height: 180px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #E4E4E4;
    cursor: pointer;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    ul li {
        flex: 0 0 calc(53.33% - 20px);
        padding: 5px;

        width: 380px;
        height: 120px;
    }
}
ul li img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
ul li span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
/* Ajoutez ces styles à votre fichier CSS existant */

ul.categories li {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul.categories li:hover {
    background-color: #ddd; /* Style pour l'effet hover */
}

ul.categories li.selected {
    background-color: #007bff; /* Couleur pour les éléments sélectionnés */
    color: #fff; /* Couleur du texte pour les éléments sélectionnés */
    border: 2px solid #0056b3; /* Bordure pour les éléments sélectionnés */
}

ul.categories li.selected img {
    filter: brightness(1.2); /* Augmenter la luminosité de l'image pour les éléments sélectionnés */
}
.form-container-follow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 2; }
.div3 { grid-area: 1 / 3 / 3 / 4; }

@media (max-width: 600px) {
    .profile {
        width: 60%;
    }
}
