@use '../variables/colors';
@use '../variables/fonts';
@use '../variables/mixins';

.sidebar {
    background-color: #0036C2;
    height: 100vh;
    width: 25vw;
    max-width: 450px;
    padding: 0 25px;
}

.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
}

.sidebar-logo {
    width: 150px;
    background-color: white;
    border-radius: 100px;
}

.sidebar-content {
    color: white;
    width: 100%;
    margin-top: 100px;
    font-size: 18px;
}

.sidebar-footer {
    color: rgb(187, 187, 187);
    width: 100%;
    margin-top: 150px;
}

.sidebar-reseaux {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.sidebar-socials {
    margin: 0 10px;
    font-size: 2rem;
    color: white;
}


@include mixins.breakpoint-up('medium') {}