@use '../../variables/colors';
@use '../../variables/fonts';

.form-input-container--radio {
    background-color: #E4E4E4;
    padding: 20px 30px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: solid 3px transparent;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    &--selected {
        border: solid 3px colors.$primary;

        .form-input-radio--label {
          color: colors.$primary;
        }
    }

    &:hover {
        border: solid 3px colors.$primary;
    }

    &::after {
      content: none;
    }
}

.form-input-radio {
  appearance: none;
}

.form-profil-description {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: colors.$grey;
}

.form-input-radio--label {
    font-size: 1.4rem;
    font-weight: 400;
    color: colors.$grey;
    transition: all 0.15s ease-in-out;
}

.form-input-radio--chevron {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    svg {
        width: 10px;
        height: 10px;
        fill: colors.$grey;
    }
}