
.Post {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    height: fit-content;
    width: 50vw;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 5px 4px 18px -4px rgba(128, 128, 128, 0.63);
    margin-left: 3vw;
    line-height: 1.5vw
}

@media (max-width: 600px) {
    .Post {
        width: 85vw;
        box-shadow: 5px 4px 4px -4px rgba(128, 128, 128, 0.51);
        background-color: rgba(245, 245, 245, 0.55);
        margin: 20px;
    }

    .flexPostContainer {
        margin-top: 80px;
    }
}
.Post-input {
    margin-top: 5vh;
    border: none;
    width: 95%;
    background-color: #f5f5f5;
    margin-left: 1vw;
    margin-bottom: 2vh;
    resize: vertical;
}
.Post-text {
    margin-top: 5vh;
    border: none;
    width: 95%;
    background-color: transparent;
    margin-left: 3vw;
    resize: vertical;
    padding-bottom: 4vh;
    //border-bottom: 2px solid black;
}

.Post-Header {
    margin-left: 0.5vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    width: 39vw;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0px 0px;
    padding: 0px 10px;
}

.Post-Image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-right: 10px; /* Ajout de marge à droite pour séparer l'image du texte */
}

.Post-Header-Flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
}

.Post-Header-Names {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
}

.Post-area-input {
    background-color: transparent;
    font-size: 16px;
}

.Post-Header-AsdList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
}

.Post-Header-AsdList-Item {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    border: #B87FE5 2px solid;
    padding: 2px;
    border-radius: 5px;
}
.Post-Image-Upload > input {
    cursor: pointer;
    display: none;
}

.Post-Header-AsdList-Item2 {
    font-size: 2rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    border: #B87FE5 2px solid;
    padding: 10px;
    border-radius: 51px;
}

.Post-interaction{
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-direction: row;
    align-items: center;
    border-top: #000000 1px solid;
    justify-content: space-between;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.Post-like,.Post-comment,.Post-share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    gap: 0.3vw;
    cursor: pointer;
    user-select:none
}

.delete-icon {
    margin: 13px;
    float: right;
}
.Post-media {
    max-width: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}
.delete-popup {
    z-index: 99999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Post-like > p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1vw;
    min-width: 4vw;
}
