@use '../../variables/colors';
@use '../../variables/fonts';

.btn {
    background-color: colors.$secondary;
    padding: 10px 25px;
    border-radius: 50px;
    border: solid 3px transparent;
    font-size: 2rem;
    font-family: 'Luciole';
    cursor: pointer;

    &:hover {
        background-color: #fff;
        border: solid 3px colors.$secondary;
        color: colors.$secondary;
        transition: all 0.12s ease-in;
    }
}

.btn-outlined {
    background-color: transparent;
    border: solid 3px #000000;
    color: #000000;
    
    &:hover {
        transition: all 0.12s ease-in;
    }
}