@use '../../variables/colors';
@use '../../variables/fonts';

.error-message {
    color: colors.$error;
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 2rem;
}