.returnBtn {
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    border: solid 1px #5C5C5C;
}

.returnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.returnText {
    font-size: 1.6rem;
    color: #5F5F5F;
    text-align: center;
}