.Account-Header{
    position: relative;
    display: flex;
    height: 40vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.Account-Header-Names{
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    border-bottom: 1px ;
}

.Tag-NeuroBalises{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.ModifyProfile{
    position: absolute;
    left: 8vh;
    bottom: 2vh;

    font-family: "Luciole";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 25px;
    border: 2px solid #000000;
    border-radius: 50px;
}

.Account-sub{
    border-top: 1px solid black;
    margin-left: 5vw;
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.Follow{
    position: absolute;
    height: 3vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 0.5vh;
}

.header-Bio{
    display: flex;
    flex-direction: column;
}

.Bio{
    border: 4px solid #86AAFD;
    border-radius: 10px;
    min-height: 3vw;
    width: 18vw;
    margin-top: 20vh;
}

.Bio-Title{
    text-align: center;
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.Bio-text{
    padding: 0.4vw;
    font-size: 15px;
}


.Interest{
    border: 4px solid #86AAFD;
    border-radius: 10px;
    height: fit-content;
    width: 18vw;
    margin-top: 20vh;
}

.Interest-List{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Interest-Title {
    text-align: center;
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.Activities{
    display: flex;
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 5vw;
}

.Menu{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    z-index: 3;
}

.MyPost{
    visibility: visible;
    position: absolute;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.MyPost-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3vw;
}

.MyPost-Title{
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 4px solid #B87FE5;
    height: fit-content;
}

.CreatePost{
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 25px;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;
}

.MyEvent{
    visibility:hidden;
    position: absolute;
    border-radius: 10px;
    height: fit-content;
    outline: rgb(73, 182, 11) solid 3px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.MyEvent-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3vw;
}

.MyEvent-Title{
    visibility: hidden;
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 4px solid #B87FE5;
    height: fit-content;
}

.CreateEvent{
    font-family: 'Luciole';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 25px;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer;

}